<% provide :title, t("about") %>
<h1><%= t("about") %></h1>
<p>
  The <a><em><%= link_to "Ruby on Rails Tutorial",
  "http://www.railstutorial.org/"%></em></a> is a
  <a><%= link_to "book", "http://www.railstutorial.org/book"%></a> and
  <a><%= link_to "screencast series", "http://screencasts.railstutorial.org/"%></a>
  to teach web development with
  <a><%= link_to "Ruby on Rails", "http://rubyonrails.org/"%></a>.
  This is the sample application for the tutorial.
</p>

