<footer class="footer">
  <small>
    The <a><%= link_to t("base_title"), "#"%></a>
    by <a><%= link_to t("framgia"), "#"%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><a><%= link_to t("new"), "http://news.railstutorial.org/"%></a></li>
    </ul>
  </nav>
</footer>
